@charset "utf-8";
/* CSS Document */
/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Blog
7. Sidebar
8. Footer


******************************/
/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800');

/*********************************
2. Body and some general stuff
*********************************/

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2.145;
    font-weight: 400;
    color: #909090;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

p:last-of-type {
    margin-bottom: 0;
}

a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

p a:hover::after {
    opacity: 0.2;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    line-height: 1.2;
    margin-bottom: 0;
    color: #2c2c2c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

img {
    max-width: 100%;
}

button:active {
    outline: none;
}

.form-control {
    color: #db5246;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.prlx_parent {
    overflow: hidden;
}

.prlx {
    height: 130% !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nopadding {
    padding: 0px !important;
}

.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
    height: 100%;
}

.slide {
    height: 100%;
}

.button {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #ff0e3b;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 130%;
    height: 370%;
    background: #ff0e3b;
    content: '';
    z-index: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.button::after {
    display: block;
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    background: #ff0e3b;
    content: '';
    transform: rotate(-45deg);
}

.button a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button:hover::before {
    top: 160%;
    left: 160%;
}

.button:hover a {
    color: #ff0e3b;
}

.button_2 {
    width: 186px;
    height: 65px;
    background: transparent;
    text-align: center;
    border: solid 2px #ff0e3b;
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button_2 a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.075em;
    line-height: 61px;
    text-transform: uppercase;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button_2:hover {
    background: #ff0e3b;
}

.section_subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #909090;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.section_title {
    margin-top: 8px;
}

/*********************************
3. Header
*********************************/

.header {
    position: absolute;
    left: 157px;
    top: 61px;
    width: calc(100% - 314px);
    height: 96px;
    background: #190a49;
    z-index: 100;
    border-bottom: solid 2px #ff0e3b;
}

.header_wrap {
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 60px;
}

.main_nav ul li:not(:last-of-type) {
    margin-right: 52px;
}

.main_nav ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.main_nav ul li a:hover,
.main_nav ul li.active a {
    color: #ff0e3b;
}

.header_social {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 53px;
    padding-top: 12px;
}

.social ul li {
    position: relative;
}

.social ul li:not(:last-of-type) {
    margin-right: 22px;
}

.social ul li a {
    display: block;
    position: relative;
    height: 100%;
    padding: 5px;
}

.social ul li a i {
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.social ul li a:hover i {
    color: #ff0e3b;
}

.fixed_header {
    position: fixed;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #190a49;
    border-bottom: solid 2px #ff0e3b;
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.fixed_header.scrolled {
    top: 0;
}

.hamburger {
    display: none;
    padding: 5px;
    cursor: pointer;
}

.hamburger i {
    font-size: 22px;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hamburger:hover i {
    color: #ff0e3b;
}

/*********************************
4. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 101;
}

.menu_door {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(25, 10, 73, 0.9);
}

.door_left {
    right: 50%;
}

.door_right {
    left: 50%;
}

.menu_content {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.menu_close {
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.menu_close:hover {
    color: #ff0e3b;
}

.menu_nav ul li:not(:last-of-type) {
    margin-bottom: 5px;
}

.menu_nav ul li a {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.menu_nav ul li a:hover {
    color: #ff0e3b;
}

.menu_social {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*********************************
5. Home
*********************************/

.home {
    width: 100%;
    height: 371px;
}

.home_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7800ff;
    background-image: linear-gradient(to right, rgba(120, 0, 255, 0.34), rgba(255, 14, 59, 0.34));
    background: #7800ff;
    background: linear-gradient(to right, rgba(120, 0, 255, 0.34), rgba(255, 14, 59, 0.34));
}

.home_container {
    height: 100%;
    padding-top: 162px;
}

.home_title h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

/*********************************
6. Blog
*********************************/

.blog {
    background: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog_posts {

}

.blog_post {
    width: calc((100% - 30px) / 2);
    margin-bottom: 89px;
}

.blog_post_image a {
    display: block;
}

.blog_post_date {
    position: absolute;
    top: -32px;
    left: 13px;
    width: 74px;
    height: 99px;
    background: #190a49;
}

.blog_post_date a {
    display: block;
    position: relative;
    height: 100%;
}

.blog_post_date a > span {
    width: 100%;
    height: 100%;
}

.blog_post_date a > span > span:first-child {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    line-height: 0.75;
}

.blog_post_date a > span > span:not(:first-child) {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 0.75;
}

.blog_post_date a > span > span:nth-child(2) {
    margin-top: 9px;
}

.blog_post_date a > span > span:nth-child(3) {
    margin-top: 8px;
}

.author_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.blog_post_title {
    margin-top: 34px;
}

.blog_post_title h3 a {
    color: #2c2c2c;
    text-transform: none;
    letter-spacing: 0px;
}

.blog_post_title h3 a:hover {
    color: #ff0e3b;
}

.blog_post_info {
    margin-top: 36px;
}

.author_name {
    padding-left: 11px;
    font-size: 14px;
    color: #909090;
    font-weight: 700;
}

.author_name a {
    font-size: 14px;
    color: #2c2c2c;
    margin-left: 3px;
}

.author_name a:hover {
    color: #ff0e3b;
}

.blog_post_text {
    margin-top: 13px;
}

.blog_post_button {
    margin-top: 25px;
    background: #f2f2f9;
    border: none;
}

.blog_post_button:hover {
    background: #ff0e3b;
}

.blog_post_button a {
    color: #2c2c2c;
}

.blog_post_button a:hover {
    color: #ffffff;
}

.blog_post_button::after,
.blog_post_button::before {
    display: none;
}

.page_nav {
    margin-top: 11px;
}

.page_nav ul li:not(:last-of-type) {
    margin-right: 14px;
}

.page_nav ul li.active {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ff0e3b;
    text-align: center;
}

.page_nav ul li.active a {
    line-height: 44px;
    color: #ffffff;
}

.page_nav ul li a {
    font-size: 16px;
    font-weight: 300;
    color: #2c2c2c;
}

.page_nav ul li:not(.active) a:hover {
    color: #ff0e3b;
}

/*********************************
7. Sidebar
*********************************/

.sidebar {

}

.sidebar_title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #2c2c2c;
    line-height: 1.2;
    padding-bottom: 11px;
}

.sidebar_title::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff0e3b;
    content: '';
}

.sidebar_search {
    margin-top: -6px;
}

.sidebar_search_form {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.sidebar_search_input {
    width: 100%;
    height: 62px;
    background: #f2f2f9;
    border: none;
    outline: none;
    padding-left: 34px;
    font-size: 16px;
    font-weight: 700;
}

.sidebar_search_input::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #2c2c2c !important;
}

.sidebar_search_input:-moz-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #2c2c2c !important;
}

.sidebar_search_input::-moz-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #2c2c2c !important;
}

.sidebar_search_input:-ms-input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #2c2c2c !important;
}

.sidebar_search_input::input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #2c2c2c !important;
}

.sidebar_search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 61px;
    height: 100%;
    border: none;
    outline: none;
    background: #ff0e3b;
    cursor: pointer;
}

.categories {
    margin-top: 78px;
}

.sidebar_list {
    margin-top: 44px;
}

.sidebar_list ul li:not(:last-of-type) {
    margin-bottom: 15px;
}

.sidebar_list ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #909090;
}

.sidebar_list ul li a:hover {
    color: #ff0e3b;
}

.archives {
    margin-top: 76px;
}

.promo {
    margin-top: 72px;
}

.promo_content {
    width: 100%;
    height: 463px;
    margin-top: 50px;
}

.promo_content a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.promo_box {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: calc(100% - 49px);
    height: 135px;
    background: #ff0e3b;
    padding-top: 33px;
    padding-left: 27px;
}

.promo_box span {
    display: block;
}

.promo_box > span > span:first-of-type {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 0.75;
}

.promo_box > span > span:last-of-type {
    padding-left: 17px;
}

.promo_box > span > span:last-of-type > span {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.75;

}

.promo_box > span > span:last-of-type > span:not(:last-of-type) {
    margin-bottom: 18px;
}

.promo_text {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    margin-top: 12px;
}

/*********************************
8. Footer
*********************************/

.footer {
    background: #190a49;
}

.footer_content {
    padding-top: 99px;
    padding-bottom: 30px;
}

.footer_logo a {
    display: inline-block;
    position: relative;
}

.footer_bar {
    height: 56px;
}

.copyright {
    font-size: 11px;
    font-weight: 700;
    color: #443586;
}

.footer_row {
    margin-top: 59px;
}

.footer_icon {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #0f0432;
}

.footer_icon > div {
    width: 42px;
    height: 42px;
}

.footer_icon > div img {
    max-width: 100%;
    max-height: 100%;
}

.footer_title {
    margin-top: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.footer_list {
    margin-top: 25px;
}

.footer_list ul li:not(:last-of-type) {
    margin-bottom: 15px;
}

.footer_list ul li {
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.38);
    text-transform: uppercase;
}