@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
    .contact_content {
        padding-left: 90px;
        padding-right: 0;
    }
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
    .header {
        left: 60px;
        width: calc(100% - 120px);
    }

    .main_nav ul li:not(:last-of-type) {
        margin-right: 48px;
    }
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .logo {
        left: 30px;
    }

    .header_social {
        right: 30px;
    }

    .main_nav ul li:not(:last-of-type) {
        margin-right: 32px;
    }

    .header_social ul li:not(:last-of-type) {
        margin-right: 18px;
    }

    .custom_container_wrap > .container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .custom_container_wrap > .container > .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .custom_container_wrap > .container > .row > div[class^='col'] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact_info_list {
        margin-top: 41px;
    }

    .contact_content {
        padding-left: 0;
    }

    .contact_map_container {
        padding-left: 0;
    }

    .contact {
        padding-bottom: 100px;
    }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {

}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .main_nav {
        display: none;
    }

    .header_social {
        display: none;
    }

    .home_title h1 {
        font-size: 56px;
    }

    .header_wrap {
        padding-right: 25px;
    }

    .hamburger {
        display: block;
    }

    .custom_container_wrap > .container {
        max-width: 720px;
    }

    .footer_col:not(:last-child) {
        margin-bottom: 60px;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {

}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {

}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {

}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .header {
        top: 30px;
        left: 30px;
        width: calc(100% - 60px);
    }

    .custom_container_wrap > .container {
        max-width: 540px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 36px;
    }

    .header {
        top: 15px;
        left: 15px;
        width: calc(100% - 30px);
    }

    .home {

    }

    .header_wrap {
        padding-right: 15px;
    }

    .home_title h1 {
        font-size: 48px;
    }

    .button,
    .button_2 {
        width: 157px;
        height: 56px;
    }

    .button a,
    .button_2 a {
        font-size: 12px;
        line-height: 52px;
    }

    .custom_container_wrap > .container {
        max-width: 100%;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {

}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {

}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {

}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {

}