<div class="card-body ">
  <form method="#" action="#">
    <div class="form-group">
      
    {{ form.as_p }}
    <!-- <div class="form-group">
      <label for="examplePass" class="bmd-label-floating">Password</label>
      <input type="password" class="form-control" id="examplePass">
    </div> -->
    <!-- <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value=""> Subscribe to newsletter
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div> -->
  </form>
</div>